{% extends 'base.html.twig' %}
{% block title %}
  Hello AdminController!
{% endblock %}

{% block body %}
  <div class="content_container">
    <div>
      {% for Facture in Factures %}
        <section>
          <h2>
            {{ Facture.title }}
          </h2>
          <p>
            {{ Facture.content }}
          </p>
          {% if Facture.customer %}
            <p class="Facture_customer">
              Auteur: {{ Facture.customer.lastname }} {{ Facture.customer.firstname }}
            </p>
          {% endif %}
        </section>
      {% endfor %}
    </div>
    <div>
      {% for Fichier in Fichiers %}
        <section>
          <h2>
            {{ Fichier.title }}
          </h2>
          <p>
            {{ Fichier.description }}
          </p>
          <p>
            Prix: {{ Fichier.price }} €
          </p>
          <p>
            Catégorie: {{ Fichier.customer.name }}
          </p>
          <p>
            Vendeur : {{ Fichier.seller.lastname }} {{ Fichier.seller.firstname }}
          </p>
        </section>
      {% endfor %}
    </div>
  </div>
{% endblock %}
