{% extends 'base.html.twig' %}

{% block title %}
  Hello UserController!
{% endblock %}

{% block body %}
  <h1>
    Hello {{ user.email }}
  </h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn action_button">{{ button_label|default('Save') }}</button>
  {{ form_end(form) }}
  <div class="content_container">
    <div>
      <h2>
        Mes Factures
      </h2>
      {% for Facture in Factures %}
        <section>
          <h2>
            {{ Facture.title }}
          </h2>
          <p>
            {{ Facture.designation }}
          </p>
          {# {% if Facture.user %}
            <p class="Facture_customer">
              Auteur: {{ Facture.customer.lastname }} {{ Facture.customer.firstname }}
            </p>
          {% endif %} #}
          <div class="action_button_container">
            <a class="action_button"
              href="{{
              path(
                'app_Facture_show',
                {
                  id: Facture.id
                }
              )
              }}">
              show
            </a>
            <a class="action_button"
              href="{{
              path(
                'app_Facture_edit',
                {
                  id: Facture.id
                }
              )
              }}">
              edit
            </a>
          </div>
        </section>
      {% endfor %}
    </div>
    <div>
      <h2>
        Mes produits
      </h2>
      {% for Fichier in Fichiers %}
        <section>
          <h2>
            {{ Fichier.title }}
          </h2>
          <p>
            {{ Fichier.description }}
          </p>
          <p>
            Price: {{ Fichier.price }} €
          </p>
          <p>
            {# Customer: {{ Fichier.Customer.name }} #}
          </p>
          <p>
            seller : {{ Fichier.seller.lastname }} {{ Fichier.seller.firstname }}
          </p>

          <a class="action_button"
            href="{{
            path(
              'app_Fichier_show',
              {
                id: Fichier.id
              }
            )
            }}">
            show
          </a>
          <a class="action_button"
            href="{{
            path(
              'app_Fichier_edit',
              {
                id: Fichier.id
              }
            )
            }}">
            edit
          </a>
        </section>
      {% endfor %}
    </div>
  </div>
{% endblock %}
