{% extends 'base.html.twig' %}

{% block title %}
  Hello UserController!
{% endblock %}

{% block body %}
  <h1>
    Hello {{ user.email }}
  </h1>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn action_button">{{ button_label|default('Save') }}</button>
  {{ form_end(form) }}
  <div class="content_container">
    <div>
      <h2>
        Mes Factures
      </h2>
      {% for Facture in Factures %}
        <section>
          <h2>
            {{ Facture.title }}
          </h2>
          <p>
            {{ Facture.content }}
          </p>
          {% if Facture.author %}
            <p class="Facture_author">
              Auteur: {{ Facture.author.lastname }} {{ Facture.author.firstname }}
            </p>
          {% endif %}
          <div class="action_button_container">
            <a class="action_button"
              href="{{
              path(
                'app_Facture_show',
                {
                  id: Facture.id
                }
              )
              }}">
              show
            </a>
            <a class="action_button"
              href="{{
              path(
                'app_Facture_edit',
                {
                  id: Facture.id
                }
              )
              }}">
              edit
            </a>
          </div>
        </section>
      {% endfor %}
    </div>
    <div>
      <h2>
        Mes produits
      </h2>
      {% for product in products %}
        <section>
          <h2>
            {{ product.title }}
          </h2>
          <p>
            {{ product.description }}
          </p>
          <p>
            Price: {{ product.price }} €
          </p>
          <p>
            Category: {{ product.category.name }}
          </p>
          <p>
            seller : {{ product.seller.lastname }} {{ product.seller.firstname }}
          </p>

          <a class="action_button"
            href="{{
            path(
              'app_product_show',
              {
                id: product.id
              }
            )
            }}">
            show
          </a>
          <a class="action_button"
            href="{{
            path(
              'app_product_edit',
              {
                id: product.id
              }
            )
            }}">
            edit
          </a>
        </section>
      {% endfor %}
    </div>
  </div>
{% endblock %}
