{% extends 'base.html.twig' %}

{% block title %}
  Facture index
{% endblock %}

{% block body %}
  <h1>
    Facture 
  </h1>

  <table class="table">
    <tbody>
      {% for Facture in Factures %}
        <section>
          <h1>
            {{ Facture.title }}
          </h1>
          <p>
            {{ Facture.designation }}
          </p>
          <p>
            invoice_date : {{ Facture.invoiceDate }}
          </p>
          <p>
            totalInclTax : {{ Facture.totalInclTax }}
          </p>
          <p>
            unitPriceExclTax : {{ Facture.unitPriceExclTax }}
          </p>
          <p>
            quantity : {{ Facture.quantity }}
          </p>
          <p>
            totalExclTax : {{ Facture.totalExclTax }}
          </p>
          <p>
            taxAmount : {{ Facture.taxAmount }}
          </p>
          
            <a href="{{
              path(
                'app_Facture_show',
                {
                  id: Facture.id
                }
              )
              }}">
              show
            </a>
            <a href="{{
              path(
                'app_Facture_edit',
                {
                  id: Facture.id
                }
              )
              }}">
              edit
            </a>
        </section>
      {% else %}
        <tr>
          <p colspan="4">
            no records found
          </p>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{{ path('app_Facture_new') }}">Create new</a>
{% endblock %}
