{% extends 'base.html.twig' %}

{% block title %}
  Fichier
{% endblock %}

{% block body %}
  <h1>
    Fichier
  </h1>

  <table class="table">
    <tbody>
      <tr>
        <th>
          Id
        </th>
        <td>
          {{ Fichier.id }}
        </td>
      </tr>
      <tr>
        <th>
          Title
        </th>
        <td>
          {{ Fichier.title }}
        </td>
      </tr>
      <tr>
        <th>
          Description
        </th>
        <td>
          {{ Fichier.Description }}
        </td>
      </tr>
      <tr>
        <th>
          Price
        </th>
        <td>
          {{ Fichier.Price }}
        </td>
      </tr>
      <tr>
        <th>
          Quantity
        </th>
        <td>
          {{ Fichier.quantity }}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('app_Fichier_index') }}">back to list</a>

  <a href="{{
    path(
      'app_Fichier_edit',
      {
        id: Fichier.id
      }
    )
    }}">
    edit
  </a>

  {{ include('Fichier/_delete_form.html.twig') }}
{% endblock %}
